
CorePlot14/CorePlot14.xcodeproj/project.xcworkspace/xcuserdata/yuko.xcuserdatad/UserInterfaceState.xcuserstate

CorePlot14/CorePlot14.xcodeproj/xcuserdata/yuko.xcuserdatad/xcschemes/CorePlot14.xcscheme

CorePlot14/CorePlot14.xcodeproj/xcuserdata/yuko.xcuserdatad/xcschemes/xcschememanagement.plist
